In [54]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy.random as np
import sys
import matplotlib

data = pd.read_csv('titanic.csv', index_col='PassengerId')
print '---\nfirst lines\n---\n'
print data[:3]
print '---\ntypes\n---\n'
print data.dtypes

---
first lines
---

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3

                                                          Name     Sex  Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male   22
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38
3                                       Heikkinen, Miss. Laina  female   26

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
---
types
---

Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [18]:
print data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [39]:
print 100 * data['Survived'][data.Survived == 1].size  / float(data['Survived'].size) 
print data['Survived'].value_counts()
print data['Survived'].describe()

38.3838383838
0    549
1    342
Name: Survived, dtype: int64
count    891.000000
mean       0.383838
std        0.486592
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Survived, dtype: float64

In [41]:
print data['Pclass'].value_counts()
print 100 * data['Pclass'][data.Pclass == 1].size  / float(data['Pclass'].size)

3    491
1    216
2    184
Name: Pclass, dtype: int64
24.2424242424

In [103]:
print data['Age'].mean()
print data['Age'].median()

29.6991176471
28.0

In [65]:
print data.corr()

          Survived    Pclass       Age     SibSp     Parch      Fare
Survived  1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307
Pclass   -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500
Age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
SibSp    -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651
Parch     0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225
Fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000

In [102]:
# test
def f(x):
    ms = x.find("Mrs.")
    mss = x.find("Miss.")
    
    if ( ms  > -1 ) : x = x[ms+5:]
    if ( mss  > -1 ) : x = x[mss+6:]
    
    if(ms == -1 and mss == -1): return ""
    space =  x.find(" ")  
    if(space > -1)  : x = x[:space]
    return str(x) + "|||" + str(ms) + "?" + str(mss)
  
    
#print data['Name'][data.Sex == 'female'].apply(f)
print data['Name'][data.Sex == 'female'].apply(f).value_counts()

                      7
Mary|||-1?7           4
William|||8?-1        4
Bertha|||-1?7         3
Margaret|||-1?9       3
William|||7?-1        3
John|||8?-1           3
Anna|||-1?7           3
William|||9?-1        2
Elizabeth|||-1?9      2
Mary|||-1?8           2
Hanora|||-1?9         2
Kate|||-1?10          2
Bridget|||-1?12       2
Henry|||8?-1          2
William|||6?-1        2
Thomas|||9?-1         2
Alice|||-1?9          2
James|||6?-1          2
Augusta|||-1?10       2
Ellen|||-1?8          2
Thomas|||7?-1         2
Constance|||-1?6      2
Margaret|||-1?8       2
Frederick|||7?-1      2
Lillian|||-1?9        2
Katherine|||-1?9      2
Elizabeth|||-1?8      2
Anna|||-1?9           2
Annie|||-1?8          2
                     ..
James|||8?-1          1
Jacques|||10?-1       1
Ingeborg|||-1?11      1
Gretchen|||-1?9       1
Adele|||-1?7          1
Emily|||-1?9          1
Emily|||-1?6          1
Elise|||-1?9          1
Mathilde|||-1?9       1
Lyyli|||-1?8          1
Aurora|||-1?12        1
Anna|||-1?13          1
Bertha|||-1?9         1
Richard|||10?-1       1
Marija|||-1?11        1
Luise|||-1?15         1
Edward|||8?-1         1
Carla|||-1?17         1
(Mary|||9?-1          1
John|||9?-1           1
Marguerite|||-1?11    1
William|||10?-1       1
Georgette|||-1?8      1
Kornelia|||-1?9       1
Alexander|||11?-1     1
Anna|||-1?6           1
(Edith|||10?-1        1
Thamine|||-1?8        1
(Lutie|||9?-1         1
Daisy|||-1?9          1
Name: Name, dtype: int64