In [15]:
import pandas as pd
data = pd.read_csv('titanic.csv', index_col='PassengerId')
print '---\nfirst lines\n---\n'
print data[:3]
print '---\ntypes\n---\n'
print data.dtypes

---
first lines
---

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3

                                                          Name     Sex  Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male   22
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38
3                                       Heikkinen, Miss. Laina  female   26

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
---
types
---

Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [18]:
print data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [39]:
print 100 * data['Survived'][data.Survived == 1].size  / float(data['Survived'].size) 
print data['Survived'].value_counts()
print data['Survived'].describe()

38.3838383838
0    549
1    342
Name: Survived, dtype: int64
count    891.000000
mean       0.383838
std        0.486592
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Survived, dtype: float64

In [41]:
print data['Pclass'].value_counts()
print 100 * data['Pclass'][data.Pclass == 1].size  / float(data['Pclass'].size)

3    491
1    216
2    184
Name: Pclass, dtype: int64
24.2424242424

In [49]:
print (data['Sex'].median())

TypeError: could not convert string to float: male