In [54]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy.random as np
import sys
import matplotlib

data = pd.read_csv('titanic.csv', index_col='PassengerId')
print '---\nfirst lines\n---\n'
print data[:3]
print '---\ntypes\n---\n'
print data.dtypes

---
first lines
---

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3

                                                          Name     Sex  Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male   22
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38
3                                       Heikkinen, Miss. Laina  female   26

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
---
types
---

Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [18]:
print data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [39]:
print 100 * data['Survived'][data.Survived == 1].size  / float(data['Survived'].size) 
print data['Survived'].value_counts()
print data['Survived'].describe()

38.3838383838
0    549
1    342
Name: Survived, dtype: int64
count    891.000000
mean       0.383838
std        0.486592
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Survived, dtype: float64

In [41]:
print data['Pclass'].value_counts()
print 100 * data['Pclass'][data.Pclass == 1].size  / float(data['Pclass'].size)

3    491
1    216
2    184
Name: Pclass, dtype: int64
24.2424242424

In [62]:
print data['Age'].sum()/data['Age'].size
print data['Age'].median()

23.7992929293
28.0

In [65]:
print data.corr()

          Survived    Pclass       Age     SibSp     Parch      Fare
Survived  1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307
Pclass   -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500
Age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
SibSp    -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651
Parch     0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225
Fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000

In [101]:
# test
def f(x):
    ms = x.find("Mrs.")
    mss = x.find("Miss.")
    
    if ( ms  > -1 ) : x = x[ms+5:]
    if ( mss  > -1 ) : x = x[mss+6:]
    
    if(ms == -1 and mss == -1): return ""
    space =  x.find(" ")  
    if(space > -1)  : x = x[:space]
    return str(x) + "|||" + str(ms) + "?" + str(mss)
  
    
#print data['Name'][data.Sex == 'female'].apply(f)
print data['Name'][data.Sex == 'female'].apply(f).value_counts()

PassengerId
2             John|||9?-1
3           Laina|||-1?11
4         Jacques|||10?-1
9            Oscar|||9?-1
10        Nicholas|||8?-1
11     Marguerite|||-1?11
12       Elizabeth|||-1?9
15           Hulda|||-1?9
16           (Mary|||9?-1
19         Julius|||15?-1
20         Fatima|||12?-1
23            Anna|||-1?9
25         Torborg|||-1?9
26            Carl|||9?-1
29           Ellen|||-1?9
32         William|||9?-1
33            Mary|||-1?7
39        Augusta|||-1?15
40         Jamila|||-1?15
41           Johan|||7?-1
42         William|||8?-1
44         Simonne|||-1?9
45        Margaret|||-1?9
48        Bridget|||-1?12
50          Josef|||16?-1
53           Henry|||8?-1
54         Lizzie|||12?-1
57           Emily|||-1?6
59       Constance|||-1?6
62          Amelie|||-1?7
              ...
808         Ellen|||-1?12
810        Norman|||10?-1
814          Ebba|||-1?11
817        Wendla|||-1?10
821        Charles|||6?-1
824        (Beila)|||6?-1
830         George|||7?-1
831         Antoni|||9?-1
836           Sara|||-1?9
843       Augusta|||-1?10
850        Samuel|||12?-1
853      Nourelain|||-1?8
854           Mary|||-1?7
855         Ernest|||8?-1
856            Sam|||5?-1
857         George|||6?-1
859        Solomon|||9?-1
863      Frederick|||7?-1
864        Dorothy|||-1?6
866     (Karolina)|||9?-1
867      Asuncion|||-1?14
872       Richard|||10?-1
875         Samuel|||9?-1
876          Adele|||-1?7
880         Thomas|||8?-1
881        William|||9?-1
883         Gerda|||-1?10
886        William|||6?-1
888       Margaret|||-1?8
889     Catherine|||-1?10
Name: Name, dtype: object